<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
    username:<p th:text="${usernameList}"></p>
    <form action="/custTrans" method="post">
        请输入该客户(ID:<span th:text="${custId}"></span>)的接收人：
        <input type="text" th:value="${custId}" id="custId" name="custId"/>
        <input type="text" id="username" name="username"/>

        <input type="submit" value="submit"/>
    </form>
</div>

</body>
</html>