<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<style type="text/css">
    body{
        background-image: url("../../123.gif");
    }
    .bottom{
        position: absolute;
        width: 500px;
        height: 500px;
        margin-left: 48%;
        margin-top: 15%;
    }

</style>
<body style="background-repeat:no-repeat;background-size: cover" >

    <div class="bottom">
        <form action="/demoLogin" method="post">
                <input class="form-control" style="border:0px;background:rgba(0, 0, 0, 0)" placeholder="账号" name="username" type="text" id="username" autofocus="autofocus"/><br/>
                <input class="form-control" style="border:0px;background:rgba(0, 0, 0, 0)" placeholder="密码" name="password" type="password" id="password" /><br/>
                <input class="loginButton"  style="border:0px;background:rgba(0, 0, 0, 0);color: red" type="submit" value="submit"/>


        </form>
    </div>



</body>
</html>