<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<style type="text/css">
    *{
        margin: 10px;
    }
    .input-name{
        width:90px;
        height: 30px;
        border:none;
        font-size: 20px;
    }
    p{
        border-bottom: 1px black solid;
        width:1050px;
    }

    .input-value{
        height: 30px;
        text-align: center;
        font-size: 20px;
    }
    .one{
        margin-top:10%;
    }
    p{
        font-size: 25px;
    }
</style>
<body>
<div>
    <div class="one">
        <p>个人资料</p>
        <input class="input-name" type="text"  readonly="true" value="姓名 :"/>
        <input class="input-value" type="text" readonly="true" value="eastgo"/>
        <input class="input-name" type="text"  readonly="true" value="年龄 :"/>
        <input class="input-value" type="text" readonly="true" value="18"/>
        <br/>
        <input class="input-name"  type="text"  readonly="true" value="电子邮箱 :"/>
        <input class="input-value" type="text" readonly="true" value="770130276@qq.com"/>
        <input class="input-name" type="text"  readonly="true"  value="手机号码 :"/>
        <input class="input-value" type="text" readonly="true" value="15927519596" />
        <br/>
        <input class="input-name"  type="text"  readonly="true" value="QQ号码 :"/>
        <input class="input-value" type="text" readonly="true" value="770130276"/>
        <input class="input-name"  type="text"  readonly="true" value="微信号 :"/>
        <input class="input-value" type="text" readonly="true" value="15927519596"/>
    </div>

    <div>
        <p>个人经历</p>
        <span>更多更详细的内容可以访问我的csdn！<a href="https://blog.csdn.net/east123321" target="_blank">点击链接前往</a></span>


    </div>
</div>

</body>
</html>