<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<script type="text/javascript">
    function createXMLHttpRequest(){
        if(window.activeXObject){
            return new ActiveXObject("Microsoft.XMLHTTP");
        }else if(window.XMLHttpRequest){
            return new XMLHttpRequest();
        }
    }
    function success(text) {
        var input = document.getElementById('test-response-text');
        input.value = text;
    }

    function fail(code) {
        var input = document.getElementById('test-response-text');
        input.value = 'Error code: ' + code;
    }
    function startRequst(){
/*        var xmlHttpObject=createXMLHttpRequest();
        xmlHttpObject.open("get","/blog/ajaxTest",true);
        xmlHttpObject.send();
        xmlHttpObject.onreadystatechange=handleStateChange(xmlHttpObject);*/
        var request = new XMLHttpRequest(); // 新建XMLHttpRequest对象

        request.onreadystatechange = function () { // 状态发生变化时，函数被回调
            if (request.readyState === 4) { // 成功完成
                // 判断响应结果:
                if (request.status === 200) {
                    // 成功，通过responseText拿到响应的文本:
                    alert(request.responseText);
                    return success(request.responseText);
                } else {
                    // 失败，根据响应码判断失败原因:
                    return fail(request.status);
                }
            } else {
                // HTTP请求还在继续...
            }
        }

// 发送请求:
        request.open('GET', '/blog/ajaxTest',true);
        request.send(null);

        alert('请求已发送，请等待响应...');
    }
/*    function handleStateChange(xmlHttpObject){
        alert("laila");
        if (xmlHttpObject.readyState == 4){
            alert("success");
            if (xmlHttpObject.status == 200){
                alert("服务器相应为"+xmlHttpObject.responseText);
            }
        }else if (xmlHttpObject.readyState == 1){
            alert("1");
        }else if (xmlHttpObject.readyState == 2){
            alert("2");
        }else  if (xmlHttpObject.readyState == 0){
            alert("0");
        }else {
            alert("5");
        }
    }*/
</script>
<body>
<input type="button" value="fasong" onclick="startRequst()" id="test-response-text"/>
</body>
</html>