<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>注册成功</title>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312"/>
    <meta http-equiv="refresh" content="6;url=/blog/index"/>
</head>
<style type="text/css">
    .main-info{
        position: absolute;
        height: 50px;
        width: 700px;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -350px;
    }
    span{
        font-size: 30px;
        font-weight: bold;
    }
</style>
<body>
<div class="main-info">
    <span>恭喜您！注册成功！</span>
    <span>6s后自动跳转至主页。。。</span>
</div>
</body>
</html>