<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<style type="text/css">
    .text{
        font-size: 16px;
        color: #03a9f4;
        text-underline: none;
        padding: 10px;
        line-height: 50px;
        text-decoration: none;
    }

</style>
<body>
<div  role="navigation" style="margin-top: 5px">

        <br/>
        <a   class="text" href="/main" target="main"> 首  页</a>
        <br/>
        <a class="text" href="/custmList" target="main"> 客户管理</a>
        <br/>
        <a class="text" href="/progress" target="main"> 跟  进</a>
        <br/>
        <a class="text" href="/task" target="main"> 我的工作</a>
        <br/>
        <a class="text" href="/fileManager" target="main"> 文件管理</a>

</div>
</body>
</html>